@import "tailwindcss";

@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /* Cores para dark mode (padrão) */
  --color-card-bg: #101010;
  --color-tag-bg: #333333;
  --color-text-primary: #ffffff;
  --color-text-muted: #aaaaaa;
  --color-text-secondary: #cccccc;

  background-color: black;
  color: white;

  /* Cores para light mode */
  @media (prefers-color-scheme: light) {
    --color-card-bg: #efefef;
    --color-tag-bg: #e0e0e0;
    --color-text-primary: #000000;
    --color-text-muted: #666666;
    --color-text-secondary: #333333;

    background-color: white;
    color: black;
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}